@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

* {
  padding: 0;
  margin: 0;
  font-size: 10px;
  font-family: Pretendard;
  overscroll-behavior: none;
  overflow: visible;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  &::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    border-radius: 4px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #D9D9D9;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

.ant-notification {
  z-index: 99999;
  overflow: visible;
}

@font-face {
  font-family: "SBAggroB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
