@import "tailwindcss";

@font-face {
    font-family: "Pretendard-Regular";
    src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
        format("woff");
    font-weight: 400;
    font-style: normal;
}

* {
    /* padding: 0; */
    margin: 0;
    font-size: 10px;
    font-family: "Pretendard-Regular", sans-serif;
    overscroll-behavior: none;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
    &::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        background: #d9d9d9;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: #d9d9d9;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
}

.ant-notification {
    z-index: 99999;
    overflow: visible;
}

@font-face {
    font-family: "SBAggroB";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SBAggroB.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@theme {
    --color-main: #346287;
    --color-serve: #32a89c;
    --color-red: #ef5a5a;
    --color-dark: #323a45;
    --color-gray: #b7b7b7;
    --color-light-gray: #f4f4f4;
    --color-green: #30ff30;
    --color-black: #303030;
    --color-white: #ffffff;
    --color-background: #f7f7f7;
    --color-login-background: #f6f7f9;
    --color-placeholder: rgba(0, 0, 0, 0.5);
}
